---
import Section from "./Section.astro";
---

<Section
  title="Disfruta del Turismo"
  subtitle="Descubre los mejores lugares para visitar en la región"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      Descubre más
    </a>
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</Section>
